@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Inter", helvetica, sans-serif;
  color: #ffec8b;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.nav__link {
  font-weight: bold;
  font-size: 2.25em;
  color: #ffec8b;
}

.nav__link:hover {
  color: #2b9fed;
  text-decoration: none;
}

.hero__title {
  font-weight: 700;
  font-size: 10em;
  text-align: center;
  padding-bottom: 30px;
}

.hero__subtitle {
  font-weight: 700;
  font-size: 3em;
  text-align: center;
}

.section-title {
  font-weight: 700;
  font-size: 4em;
  text-align: left;
}

.portfolio__title {
  padding: 0;
  font-size: 1.5em;
  font-weight: 400;
}

.portfolio__text {
  font-size: 1em;
  font-weight: 400;
  text-align: justify;
  line-height: 18px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
  position: absolute;
}
.nav__links-container {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 30px;
}
.nav__link {
  padding: 0 20px;
}

.section-title-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100px;
  position: absolute;
  margin-left: 8%;
}

header {
  position: relative;
  background: linear-gradient(#00b2ff 0%, #41bcd7 10%, #70cbc6 30%, #d9d9d9 70%);
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-container {
  padding: 125px 12%;
}

[class^=row] {
  min-height: 150px;
}

[class^=col] {
  min-height: 50px;
}

.btn-row {
  height: 100%;
}

.portfolio {
  min-height: 100vh;
  background-color: #d9d9d9;
  position: relative;
}
.portfolio__title-container {
  display: flex;
  align-items: center;
  min-height: 70px;
}
.portfolio__img-container {
  display: flex;
  justify-content: center;
  padding: 0 35px;
}
.portfolio__image {
  width: 100%;
  height: auto;
}
.portfolio__btn-row {
  height: 100%;
  display: flex;
  align-items: stretch;
}
.portfolio__btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
.portfolio__btn {
  color: #ffec8b;
  border: solid 2px #ffec8b;
  border-radius: 30px;
  padding: 8px 32px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 70%;
  max-width: 120px;
}
.portfolio__btn:hover {
  color: #2b9fed;
  border: solid 2px #2b9fed;
  cursor: pointer;
}
.portfolio__text-container {
  padding: 30px 100px 30px 10px;
}

.portfolio__btn:hover .portfolio__btn-icon {
  color: #2b9fed;
}