@import "abstracts/_variables";
@import "base/_typography";
@import "layout/_navigation";
@import "layout/_header";
@import "layout/_grid";
@import "layout/portfolio";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-body;
  font-weight: 500;
  color: $color-primary;
}
