* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "abstracts/_variables";

* {
  font-family: $font-body;
  color: $color-primary;
  scroll-behavior: smooth;
}

@import "layout/_grid";
@import "layout/_navigation";
@import "layout/_header";
@import "layout/_portfolio";
@import "layout/_skills";
@import "layout/_about";
@import "layout/_contact";
@import "components/_buttons";
@import "base/_typography";
