.about {
  min-height: 60vh;
  position: relative;
  background: linear-gradient(#6e6e6e, #748d9f 99%);

  &__text-container {
    margin-top: 20px;
  }

  &__img-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 0 5%;
  }

  &__img {
    width: 100%;
    height: auto;
  }
}
