.about {
  min-height: 60vh;
  position: relative;
  background: linear-gradient(#6e6e6e, #748d9f 99%);

  &__grid-container {
    padding: 125px 15% 100px 15%;
  }

  &__text-container {
    margin: 20px 0;
  }

  &__img-container {
    display: flex;
    justify-content: center;
    padding: 0 5% 35px 5%;
  }

  &__img {
    width: 100%;
    height: auto;
    min-width: 250px;
    max-height: 350px;
    object-fit: contain;
  }
}

@media screen and (min-width: 992px) {
  .about__grid-container {
    padding: 125px 10% 100px 10%;
  }
}
