.grid-container {
  padding: 125px 20% 100px 20%;
}

[class^="row"] {
  min-height: 150px;
  border: solid 2px orange;
}

[class^="col"] {
  min-height: 50px;
  border: solid 2px purple;
}

.btn-row {
  height: 100%;
}

@media screen and (min-width: 992px) {
  .grid-container {
    padding: 125px 10% 100px 10%;
  }
}
