.grid-container {
  padding: 125px 12% 75px 10%;
}

[class^="row"] {
  min-height: 150px;
  border: solid 2px red;
}

[class^="col"] {
  min-height: 50px;
  border: solid 2px blue;
}

.btn-row {
  height: 100%;
}
