.grid-container {
  padding: 150px 12%;
}

[class^="row"] {
  border: solid 2px red;
  background-color: #ffffff;
  min-height: 150px;
}

[class^="col"] {
  border: solid 2px $color-secondary;
  min-height: 50px;
}
