.header {
  background: linear-gradient(
    #00b2ff 0%,
    #41bcd7 10%,
    #70cbc6 30%,
    #d9d9d9 70%
  );
}

.greeting-container {
  position: absolute;
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.greeting {
  max-width: 50%;
}
.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &__arrow-container {
    top: 90vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 10vw;
  }

  &__arrow {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 992px) {
  .hero__arrow {
    opacity: 0;
  }
}
