.portfolio {
  min-height: 100vh;
  background: linear-gradient(#d9d9d9, #7c8180 50%, #6e6e6e 90%);

  &__scroll-container {
    width: 80vw;
    overflow-x: scroll;
    margin: 0 auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &__scroll-container::-webkit-scrollbar {
    display: none;
  }

  &__grid-container {
    width: 375vw;
    padding: 100px 0 0 0;
  }

  &__projects-row {
    display: flex;
    justify-content: space-between;
  }

  &__title-container {
    display: flex;
    align-items: center;
    min-height: 70px;
    padding: 0 30px;
  }

  &__img-container {
    display: flex;
    justify-content: center;
    padding: 0 35px;
  }

  &__img {
    width: 100%;
    height: auto;
    min-width: 180px;
  }

  &__arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__arrow--x {
    max-width: 25px;
    height: auto;
  }

  &__btn-row {
    height: 100%;
    display: flex;
    align-items: stretch;
  }

  &__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn-container--lg {
    justify-content: flex-start;
  }

  &__text-container {
    padding: 30px;
  }
}

[class*="project--"] {
  min-width: 80vw;
  max-width: 80vw;
}

.portfolio__project--1 {
  margin-left: 13px;
}

@media screen and (min-width: 576px) {
  .portfolio__scroll-container {
    width: 60vw;
  }

  [class*="project--"] {
    max-width: 60vw;
    min-width: 60vw;
  }

  .portfolio__grid-container {
    width: 300vw;
    padding: 125px 0 100px 0;
  }

  .portfolio__title-container {
    padding: 0 15px;
  }

  .portfolio__arrow--x {
    max-width: 100%;
    height: auto;
  }

  .portfolio__arrow-container {
    padding: 0;
  }

  .portfolio__text-container {
    padding: 30px 20px 30px 15px;
  }
}

@media screen and (min-width: 992px) {
  .portfolio__grid-container,
  .portfolio__scroll-container,
  .portfolio__project-row {
    all: revert;
  }

  .grid-container {
    padding: 125px 10% 100px 10%;
  }

  .portfolio__project--1 {
    margin-left: 0;
  }

  .portfolio__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
