.portfolio {
  min-height: 100vh;
  background: linear-gradient(#d9d9d9, #7c8180 50%, #6e6e6e 90%);
  position: relative;

  &__title-container {
    display: flex;
    align-items: center;
    min-height: 70px;
  }

  &__img-container {
    display: flex;
    justify-content: center;
    padding: 0 35px;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__btn-row {
    height: 100%;
    display: flex;
    align-items: stretch;
  }

  &__btn-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__btn {
    color: $color-primary;
    border: solid 2px $color-primary;
    border-radius: 30px;
    padding: 8px 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 200px;
  }

  &__btn-icon {
    padding-right: 5px;
  }

  &__btn:hover {
    color: $color-secondary;
    border: solid 2px $color-secondary;
    cursor: pointer;
  }

  &__text-container {
    padding: 30px 20px 30px 15px;
  }
}

.portfolio__btn:hover .portfolio__btn-icon {
  color: $color-secondary;
}
