.portfolio {
  min-height: 100vh;
  background: linear-gradient(#d9d9d9, #7c8180 50%, #6e6e6e 90%);

  &__title-container {
    display: flex;
    align-items: center;
    min-height: 70px;
  }

  &__img-container {
    display: flex;
    justify-content: center;
    padding: 0 35px;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__btn-row {
    height: 100%;
    display: flex;
    align-items: stretch;
  }

  &__btn-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__text-container {
    padding: 30px 20px 30px 15px;
  }
}
