.skills {
  min-height: 30vh;
  background-color: #6e6e6e;

  &__img-container {
    max-height: 200px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 12%;
  }

  &__image {
    object-fit: contain;
    max-width: 100%;
    min-height: 100px;
  }
}

@media screen and (min-width: 576px) {
  .skills__img-container {
    padding: 8%;
  }
}

@media screen and (min-width: 992px) {
  .skills__img-container {
    padding: 4%;
  }
}
