a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.nav__link {
  font-weight: bold;
  font-size: 2.25em;
  color: $color-primary;
}

.nav__link:hover {
  color: $color-secondary;
  text-decoration: none;
}

.hero__title {
  font-weight: 800;
  font-size: 10em;
  text-align: center;
}

.hero__subtitle {
  font-weight: 700;
  font-size: 2.25em;
  text-align: center;
}
