a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.nav__link {
  font-weight: 600;
  font-size: 1.75em;
  color: $color-primary;
}

.hero__title {
  font-weight: 700;
  font-size: 10vw;
  text-align: center;
  padding-bottom: 30px;
}

.hero__subtitle {
  font-weight: 700;
  font-size: 3.5vw;
  text-align: center;
}

.section-title {
  font-weight: 700;
  font-size: 2.5em;
  text-align: left;
}

.portfolio__title {
  padding: 0;
  font-size: 1.5em;
  font-weight: 400;

  &__text {
    font-size: 1em;
    font-weight: 400;
    line-height: 18px;
  }
}

.contact__text {
  text-align: center;
}

@media screen and (min-width: 992px) {
  .nav__link {
    font-weight: bold;
    font-size: 2.25em;
  }

  .section-title {
    font-size: 4em;
  }

  .contact__text {
    text-align: left;
  }
}

@media (hover: hover) {
  .nav__link:hover {
    color: $color-secondary;
    text-decoration: none;
  }
}
